.contact-div {
    width: 100%;
    height: 100vh;
    background-image: url("https://learnenglish.britishcouncil.org/sites/podcasts/files/2021-10/RS4905_81989918-hig_0.jpg");
}


/* body {
    background: #000;
} */